---

---

<section
        id="education"
        class="mt-12 md:mt-0 border-t border-[#ffffff10] text-[var(--white)] py-16 h-fit"
>
    <div class="max-w-5xl mx-auto space-y-4">
        <div class="text-left">
            <h2 class="text-lg text-[var(--sec)] shiny-sec">Education</h2>
            <h3 class="text-4xl md:text-5xl font-medium">CTU in Prague</h3>
        </div>
        <div class="flex flex-row flex-wrap justify-between items-center">
            <div>
                <div class="text-sm text-[var(--white-icon)] mb-1">
                    September 2019 - June 2023
                </div>
                <h4 class="text-xl md:text-2xl font-semibold mb-1">
                    Faculty of Electrical Engineering
                </h4>
                <p class="text-md text-[var(--white-icon)] mb-3">
                    Software Engineering and Technologies
                </p>
            </div>
            <img
                    src={`/svg/logo_CVUT.svg`}
                    alt={'CVUT Logo'}
                    class="h-full w-fit"
                    loading="lazy"
            />
        </div>
    </div>

</section>

